 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 622px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  width: 565px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 894px;
  margin: 50px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-1 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-6 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}